@import url(https://fonts.googleapis.com/css?family=Oleo+Script);


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#root{
  display: flex;

  justify-content: center;
  align-items: center;
  /* background: linear-gradient(to bottom, lightskyblue, lightblue); */
  background-color: black;
 
  
}

.main-div {
  text-align: center; 
  height: 100vh;
  display: flex;

  justify-content: center;
  align-items: center;
  
}
body{
  background: black;
}
@keyframes gradientAnimation {
  0% {
    background: linear-gradient(45deg, #833ab4, #fd1d1d, #f56040);
    background-size: 400% 400%;
    animation-timing-function: ease-in-out;
  }
  100% {
    background: linear-gradient(45deg, #833ab4, #fd1d1d, #f56040);
    background-size: 400% 400%;
    animation-timing-function: ease-in-out;
    background-position: 100% 0;
  }
}


.header {
  font-family: 'Oleo Script';
  animation: gradientAnimation 10s infinite;
  background-size: 400% 400%;
  background: linear-gradient(45deg, #833ab4, #fd1d1d, #f56040, #ffdc80);
  background-size: 400% 400%;
  animation-timing-function: ease-in-out;
  width: 100%;
  height: 100px;
  color: white;
  font-size: 200%;
  letter-spacing: 5px;
  display: flex;
  font-weight: lighter;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
  
}




.small-div{
  width: 20%;
  display: flex;
  flex-direction: row;
justify-content: flex-end;

}

#top{
  font-size: 200%;
}
.whole-div{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.make-row{
  display: flex;
  flex-direction: row;
}
.left-div{
  display: flex;
  flex-direction: row;
}

#uploadbutton {
  background-color: transparent;
  border:none;
  font-size: 100%;
  cursor: pointer;
  color: white
}





#logoutbutton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  padding: 30px;
}


/* CSS */

.polaroid-card {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  /* display: inline-block; */
  position: relative;
  width: 500px; /* Adjust the width as needed */
  margin-top:120px;
  margin-bottom: -70px;
  background-color: beige;
}

.polaroid-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.like-button{
  background-color: transparent;
  border:none;
  cursor: pointer;
  font-size: 130%;
}
/* Optional: Add styles for the like button or other elements */

#likethis{
  font-weight: bolder;
}
/* .red-heart {
  fill: red; /* Change the fill color to red */


/* .heart-icon path {
  fill: transparent;
} */

/* Red fill color for the heart when liked */
.red-fill path {
  fill: red;
}

.custom-file-input {
  position: relative;
  display: inline-block;
}

/* Hide the real file input */
.custom-file-input input[type="file"] {
  display: none;
}

.upload-button {
  /* background-color: #007bff; */
  color: white;
  border: none;
  border-radius: 50%; /* Make it a circle */
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 150px;
  
}

.centered-container, .centered-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

.login-form {
  text-align: center;
}

.login-form div {
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 23px;
}

.title {
  font-size: 700%;
  margin-bottom: 1%;
  background-image: linear-gradient(45deg, #833ab4, #fd1d1d, #f56040); /* Define your gradient colors here */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradientMove 5s linear infinite; /* Adjust the animation duration and timing as needed */
  background-size: 200% auto; /* Add this line to control background size */
}

@keyframes gradientMove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 0;
  }
}

h1, p, label, input, button {
  font-size: 2.0rem; /* Adjust the font size as needed */
}

.link {
  text-decoration: none; /* Remove the underline */
  color: inherit; /* Use the color from the parent element (button) */
}
#username, #password {
  border-radius: 10px; /* Adjust the value to control the roundness of the edges */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
  padding: 5px; /* Add some padding for spacing */
  border: none; /* Remove the default border */
  /* width: 100%; Adjust the width as needed */
  margin-left: 10px;
}